# Data
!tmp_files/.gitignore
tmp_files/*
.vscode/
*.png
**/android/.kotlin
**/android/.gradle
**/android/app/bin
**/android/.cxx
**/android/opencv
**/.venv
**/src/main/cpp/build-test/
**/src/main/cpp/build/
**/CMakeFiles/
!docs/redundant/.gitkeep
docs/redundant
docs/user-to-do.md
docs/superpowers
.claude
# git worktree cli
.wtp.yml
# implementations, not to be used after
.superpowers/
docs/superpowers/

# Miscellaneous
pubspec.lock
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
